<%= form_for @user, :url => url_for(:controller => 'sessions', :action => 'create') do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    
  </div>

  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>

  <div class="actions">
    <%= f.submit "Sign In" %>
  </div>
<% end %>
